* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --maxWidth: 1440px;
  --redColor: #e31f26;
  --blueColor: #213342;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #213342;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hover {
  width: 100px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(119, 152, 181, 0.4);
  border-radius: 10px;
  color: #7798b5;
  margin-top: 10px;
}
